@import 'tailwindcss';

:root {
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

/* Global styles */
body {
  font-family: var(--font-body), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), cursive;
}

html,
body,
#__next {
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}
